main{
    background-color: #f1f1f1;
    padding: 15vh 0;
  }

  main h1{
    width: 60%;
    margin: auto;
    padding: 3% 0 1% 0;
}
#addTopicBtn{
    width:13%;
    margin-left:20%;
    padding: 15px;
    border: 1px solid #4d81e4;
    text-align: center;
    margin-bottom:3%;
    cursor: pointer;
}

  .forum {
    width: 60%;
    margin: auto;
    border: 1px solid #ddd;
    font-size:15px;
    border-radius:5px;
    border-collapse: collapse;
  }

  .forum .header{
    background-color: #666;
    color: #fff;
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }

  td{
    border: 1px solid #ddd;
  }

  tr{
      background-color: white;
  }
  tr:hover{
    background-color: #f5f6f7;
  }

  td:first-child { text-align: left; }
  /* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }

  #pagination{
    text-align: center;
    padding: 20px;
  }

  a{
      text-decoration: none;
      color:black;
  }

  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  #btnShowAddSubject{
    display: none;
  }