main{
  height:auto;
  padding: 15vh 0; 
  background-color:#4d81e4;
}

main .container{
  width: 60%;
    background-color: white;
    margin: auto;
    font-size: 18px;
}

.container img{
  width: 70px;
  height:70px;
  border-radius: 50%;
  border: 1px solid #C6C6C6;
  margin:10px;
  object-fit: cover;
}

table{
  width:100%;
}

th, td {
  text-align: center;
  padding: 16px;
}

td{
  border: none;

}

tr{
    background-color: white;
}

td:first-child { text-align: left; }

h1{
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;  
}

input[type=submit] {
  background-color: #4d81e4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #4574CD;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}